*{
	font-family: sans-serif
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app{
	height: 100vh;
	display: flex;
	align-items: center;
}

.time_option, 
.sound_option,
.play_button{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 500px;
	height: 500px;
	position: relative;
}

.play_button svg{
	position: absolute;
	height: 59%;
	top: 50%;
	left: 48%;
	transform: translate(-50%,-50%);
	pointer-events: none;
}

.time_display{
	position: absolute;
	bottom: 3%;
	left: 45%;
	font-size: 20px;
}

video{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: -10;
}

.time_option button,
.sound_option button{
	border: 3px solid white;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: black;
	background: none;
	cursor: pointer;
}

.time_option button{
	width: 40%;
	height: 20%;
}

.sound_option button{
	width: 45%;
	height: 45%;
	border: none;
	border-radius: 50%;
}

.time_option button:hover{
	color: white;
	background: deepskyblue;
}

.sound_option button:nth-child(1):hover{ /* Starting from 1, designates buttons within "sound_option" */
	background: blue;
}

.sound_option button:nth-child(2):hover{
	background: blue;
}