:root {
	--color1: #cc241d; /* Maroon red ( for h3 et cetera ) */
	--color2: #98971a; /* Greyish green ( for border ) */
	--color3: #d79921; /* Orange-yellow ( for h2 ) */
	--color4: #003300; /* Dark Green (hovered link ) */
	--color5: #ebdbb2; /* Skin ( for text ) */
	--color6: #1d2021; /* Near black ( for body ) */

	--colorA: #83a598; /* Very pale blue ( background 1 ) */
	--colorB: #458588; /* Pale blue ( background 2 ) */
	--colorC: #9894FC; /* Ice blue ( background 3 ) */
}
html{
	background: linear-gradient(var(--colorA), var(--colorB), var(--color6));
	/* background: var(--color0); */
	padding-bottom: 500px;
	font-family: sans-serif;
	font-size:14pt;
}

html::-webkit-scrollbar{
	display:none;
}

body{
	background: var(--color6);
	border: 1px dotted var(--color2);
	padding: 10px;
	color: var(--color5);
	border-radius: 40px;
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	overflow: none;
	overflow-y: hidden;
	border: black solid 1px;
	top:50%;
}

#links img{
	height: 1.25em;
}

#links{
	font-size: large;
	font-style: oblique;
	font-weight: bold;
	color: black;
	float:center;
	align: center;
	margin: auto;
	text-align: center;
	max-width: 200px;
	text-align: center;
	background-color: darkgray;
	padding: 5px;
	border-radius: 30px;
}

#title {
	float:center;
	text-align:center;
	padding-left:75px;
}

li img{
	height: 1.25em;
}
h1 img{
	height: 1em;
}

h2 img{
	height: 1em;
}

.mail{
	color: var(--color1);
	background: var(--color6);
	border:none;
	font-size:11pt;
}
.mail:hover{
	color: #8b0000; /* Dark red */
	cursor:pointer;
}

h3 img{
	height: 1em;
}

a{
	color: darkgreen;
	text-decoration: none;
}

.resume{
	font-size: 23px;
	font-weight: bold;
	text-outline:3px auto white;
}

a:hover{
	color: var(--color4);
}

.resume:hover{
	color: white;
}

a:hover img {
	background: darkgrey;
}

h1 {
	color: var(--colorC);
	font-weight:normal;
	text-shadow: 1px 1px var(--color777);
}

h2 {
	color: var(--color3);
	font-weight:normal;
}

.coin{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 60vh;
	top: 7vh;
}

.copied{
	position:relative;
	z-index:-1;
	opacity:0;
}
#copied1{
	left:31px;
}
#copied2{
	left:26px;
}

.fader{
	animation:fade 3s linear;
	z-index:1;
	font-size:18px;
	color: var(--color5);
}

@keyframes fade{
	0%{ opacity:1; }
	50%{ opacity:1; }
	80%{ opacity:0.3; }
	100%{ opacity:0; z-index:-1; }
}

.icon{
	transition:width 3s, height 3s;
}

.link_title:hover
.icon{
	background: rgba(0,0,0,0);
	transition:.5s;
	transform:scale(1.5,1.5);
}

#coin_body{
	min-height:600px;
}

#mail1{
    font-size:18pt;
}
