:root {
	--color0: #282828;
	--color1: #cc241d;
	--color2: #98971a;
	--color3: #d79921;
	--color4: #458588;
	--color5: #b16286;
	--color6: #689d6a;
	--color7: #a89984;
	--color8: #928374;
	--color9: #fb4934;
	--color10: #b8bb26;
	--color12: #83a598;
	--color14: #8ec07c;
	--color15: #ebdbb2;
	--color256: #1d2021;
	--color257: #ebdbb2;
	--color555: #260096;
	--color666: #9894FC;
	--color777: #191575;
}

#links img{
	height: 1.25em;
}

#links {
	font-size: large;
	font-style: oblique;
	font-weight: bold;
	color: black;
	float:center;
	align: center;
	margin: auto;
	text-align: center;
	max-width: 200px;
	text-align: center;
	background-color: darkgray;
	padding: 5px;
	border-radius: 30px;
}

#title {
	float:center;
	text-align:center;
	padding-left:75px;
}

li img{
	height: 1.25em;
}
h1 img{
	height: 1em;
}

h2 img{
	height: 1em;
}

h3 {
	color: var(--color1);
}

h3 img{
	height: 1em;
}

html {
	background: linear-gradient(var(--color12), var(--color4), var(--color256));
	/* background: var(--color0); */
	padding-bottom: 500px;
	font-family: sans-serif;
}

body {
	background: var(--color256);
	border: 1px dotted var(--color2);
	padding: 15px;
	color: var(--color15);
	border-radius: 40px;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	overflow: none;
}

a {
	color: darkgreen;
	text-decoration: none;
}

.resume {
	font-size: 21px;
	font-weight: bold;
}

a:hover {
    color: var(--color12);
}

a:hover img {
    background: #fe8019;
}

h1 {
    color: var(--color666);
    font-weight:normal;
    text-shadow: 1px 1px var(--color777);
}

h2 {
    color: var(--color3);
    font-weight:normal;
}

.coin {
	display: block;
  margin-left: auto;
  margin-right: auto;
	position: relative;
	left: 60vh;
	top: 7vh;
}
