.box1 {
	height: 50vh;
	background-color: white;
	display: flex;
	justify-content: left;
	align-items: left;
}
.box2 {
	height: 50vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.section1{
    height:85vh;
    width:50%;
    display:flex;
    justify-content:space-around; 
    align-items:center;
}