*{
	font-family:serif;
	font-size:14px;
	background:lightgrey;
}
#title{
	font-size:30px;
	text-align:center;
	margin:auto;
	max-width:600px;
	padding:15px;
	z-index:-1;
}
h2{
	font-size:20px;
}

.cover{
	position:absolute;
	width:99%;
	height:97%;
	color:black;
	z-index:-1;
	opacity:0.75;
}

#home{
	border:none;
	background:grey;
	position:absolute;
	left:30%;
	top:5%;
	width:600px;
	height:50px;
	font-size:inherit;
	opacity:0;
	cursor:pointer;
}

#text_box{
	margin:auto;
	width:50%;
	padding:1px;
	text-align:left;
	border: 2px solid black;
	background:white;
	min-height:80vh;
	transform:translate(0,10px);
}

#text{
	font-size:20px;
	background:white;
}

#species{
	margin:0;
	position:relative;
	top:0;
	left:0;
}

.image{
	position:relative;
}
.image:hover{
	cursor:pointer;
}
.image.open{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:40%;
	z-index:12;
}
.cover.on{
	z-index:11;
}

.cover.on #exit{
	width:100%;
	height:100%;
	border:none;
}
#exit:focus{
	outline:none;
	box-shadow:none;
}

/* Selction Menu */

.list{
	display:block;
	margin:0 auto;
	padding:2px;
	font-size:17px;
	outline:none;
}
.list option{
	font-size:17px;
}
#s_title{
	display:none;
}

.selections{ /* wrapper */
	position:relative;
	font-family:serif;
}

.select-selected{
	background:grey;
}

.list.custom{
}
