*{
	font:serif;
}
body{
	background-image: url("pix/bg.jpg");
}
.child{
	width: 200px;
	height: 200px;
	margin: 10px;
	display: inline-block;
	background: #e0e0e0;
	border: 3px solid #000000;
	vertical-align: bottom;
}
#wrap{
	background: #e0e0e0;
	border: 3px solid #000000;
	width: 750px;
	margin: 0 auto;
	padding: 25px;
}
a{
	font-size: 17px;
}
a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: gray;
}
a:active{
	text-decoration: none;
	color: black;
}
#time{
	position:absolute;
	top:300px;
	left:300px;
}

.child a{
	opacity:0;
	/*animation:fade 3s linear;*/
	transition: opacity 2s ease-in;
}
.child:hover a{
	opacity:1;
	transition: opacity 2s ease-out;
	transition: opacity .01s ease-in;
}

#youtube{
	opacity:0;
}
.child:hover #youtube{
	opacity:1;
}

.child h3{
	opacity:1;
	position:relative;
	top:50px;
}
.child:hover h3{
	opacity:0;
	z-index:-1;
}
@keyframes fade{
	0%{
		opacity:0;
	}
	99%{
		opacity:0;
	}
	100%{
		Opacity:1;
	}
}

