*{
	font:serif;
}
body{
	background-image: url("pix/bg.png");
	background-size:100%;
}
.child{
	width: 169px;
	min-height:150px;
	max-height: 169px;
	margin: 10px;
	display: inline-block;
	/*background: #e0e0e0;*/
	background-color:rgba(255,255,255, 0.07);
	vertical-align: bottom;
}
#wrap{
	/*background: #e0e0e0;*/
	/*border: 3px solid #000000;*/
	width: 750px;
	margin: 0 auto;
	padding: 0px;
}

#clock{
	/*background:blue;*/
	color:black;
	font-size:30px;
	margin:0;
	padding:0;
}

#search{
	opacity:0.1;
	max-width:250px;
}
#chan{
	opacity:0.1;
	max-width:150px;
}
#search:hover{
	opacity:0.3;
}
#chan:hover{
	opacity:0.3;
}

a{
	font-size: 17px;
	position:relative;
	top:3px;
}
a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	text-shadow: 1px 1px 1px black;
}
a:active{
	text-decoration: none;
	color: black;
}
#time{
	position:absolute;
	top:300px;
	left:300px;
}

.child a{
	opacity:0;
	/*animation:fade 3s linear;*/
	transition: opacity 2s ease-in;
	font-size:19px;
	z-index:11;
}
.child:hover a{
	opacity:1;
	transition: opacity 2s ease-out;
	transition: opacity .01s ease-in;
}

#youtube{
	opacity:0;
}
.child:hover #youtube{
	opacity:1;
}

.child h3{
	opacity:1;
}
.child:hover h3{
	opacity:0;
	z-index:-10;
	cursor:default;
}
@keyframes fade{
	0%{
		opacity:0;
	}
	69%{
		opacity:0;
	}
	100%{
		Opacity:1;
	}
}

.title{
	margin:0;
	transform:translate(0,15px);
	z-index:-10;
}
