*{
	background-color:pink;
	font-family:sans-serif;
}
.title{
	height:10vh;
	display:flex;
	justify-content:center;
	align-items:center;
}


/* universal */
.allDiv{
	display:flex;
	justify-content:space-around;
}
.allDiv div{
	display:flex;
	background-color:purple;
	/*border:10px solid white;*/
	position:relative;
}
.img2{
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
	transition: opacity 0.5s ease;
}
/*.img2:hover{
	opacity:1;
}*/

/* First Box */
.div0{
}
.div0 img{
	width:100%;
	height:100%;
}
/* Second Box */
.div1{
}
.div1 img{
	width:100%;
	height:100%;
}
/* Third Box */
.div2{
}
.div2 img{
	width:100%;
	height:100%;
}

/* Main Effects */
.Afade::after{
	content:"First thing";
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:serif;
	font-size:20pt;
	background:black;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition: opacity 0.5s ease;
}
.Bfade::after{
	content:"Second thing";
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:serif;
	font-size:20pt;
	background:black;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition: opacity 0.5s ease;
}
.Cfade::after{
	content:"Third thing";
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:serif;
	font-size:20pt;
	background:black;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition: opacity 0.5s ease;
}
.Afade:hover::after{
	opacity:0.5;
}
.Bfade:hover::after{
	opacity:0.5;
}
.Cfade:hover::after{
	opacity:0.5;
}
