*{
	font-family:serif;
}
body{
	background:lightblue;
}
h1,h2,h3,a,p{
	color:#ebdbb2;
	text-shadow:1px 1px 6px black;
	font-size:30px;
}

.center{
	position:relative;
	width: 750px;
	height:69vh;
	margin: 0 auto;
	top:30px;
	padding: 25px;
	border:solid 20px black;
	background:#1d2021;
}
.center h1{
	text-align:center;
	margin:0;
	color:lightblue;
}
.center h2{
	position:relative;
	display:inline-block;
	align-items:center;

}
.center h3{

}
.center p{
	position:relative;
	display:inline-block;
	width:400px;
}

#loc{

}
#clouds{

}
#temp{
	display:inline-block;
	position:relative;
}
#tempSym{
	display:inline-block;
	position:relative;

}
#wind{

}
#desc{

}

.row{
	height:20%;
}
.row p{

}
.row h2{
	text-align:center;
}
