*{
	font-family:serif;
}
body{
	background:lightblue;
}
h1,h2,h3,a,p{
	color:#ebdbb2;
	text-shadow:1px 1px 6px black;
	font-size:30px;
}

.center{
	position:relative;
	width: 750px;
	height:69vh;
	margin: 0 auto;
	top:30px;
	padding: 25px;
	border:solid 20px black;
	background:#1d2021;
}
.center h1{
	text-align:center;
	margin:0;
	color:lightblue;
}
.center h2{
	position:relative;
	text-align:center;
	top:-10%;
	left:240px;
	color:white;
	margin:24px;
	padding:0;
}
.center h3{

}
.center p{
	position:relative;
	max-width:200px;
	margin:24px;
	padding:0;
	font-size:27px;
	left:40px;
}

#loc{

}
#clouds{

}
#temp{
	display:inline-block;
	position:relative;
	left:80%;
	top:-80px;
}
#tempSym{
	display:inline-block;
	position:relative;
	left:74%;
	top:-77px;

}
#wind{

}
#desc{

}

