#container{
	position:relative;
	left:25%;
	height:486px;
	width:886px; /* Same as Window INCLUDING borders */
}
#window{
	position:absolute;
	height:480px;
	width:880px;
	border:solid;
	background:linear-gradient(to top,#99ddff,#00aaff);
}
#ball{
	position:absolute;
	top:200;
	left:200;
}
h2{
	font-size:30pt;
	position:relative;
	top:0;
	padding:1px;
	margin:10px;
	max-width:100px;
}
h1{
	font-size:22pt;
	font-family:monospace;
	display:block;
	position:relative;
	top:0;
	left:50%;
	padding:1px;
	margin:20px;
	max-width:100px;
}
p{
	font-size:22pt;
	font-family:monospace;
	display:block;
	padding:1px;
	margin:20px;
	max-width:100px;
}
#text{
	position:absolute;
	top:500px;
	left:25%;
	width:350px;
	height:400px;
	padding:0;
}
#controls{
	font-family:monospace;
	position:absolute;
	top:559px;
	left:50%;
	width:350px;
	height:400px;
	padding:0;
	margin:0;
}
html::-webkit-scrollbar{
	display:none;
}
